[Desktop Entry]
Type=Application
Name=LyndsHub
Comment=¡Soporte, documentación, créditos e historias!
Exec=lyndshub
Icon=lyndshub
Terminal=false
Categories=System;Documentation;KDE;Qt
StartupNotify=true
StartupWMClass=lyndshub_main
