[Desktop Entry]
Type=Application
Name=Lynds Wallpapers Installer
Comment=Descargar fondos de pantalla libres
Exec=lynds-wallpapers-installer
Icon=/usr/local/casata/apps/lynds-wallpapers-installer/icon.png
Terminal=false
Categories=Graphics;Utility;
StartupNotify=true
